extends ./layouts/main.jade

block content
  #wrapper
    #calculator
      input#display(type="text" value='123')
      //- First Row
      a.btn-grey.ac(href="#" data-op='ac') AC
      a.btn-grey.sign(href="#" data-op='sign') +/-
      a.btn-grey.percent(href="#") %
      a.btn-orange.division(href="#") /
      
      //- Second Row
      a.btn-grey.seven(href="#" data-key='7') 7
      a.btn-grey.eight(href="#" data-key='8') 8
      a.btn-grey.nine(href="#" data-key='9') 9
      a.btn-orange.times(href="#") x
      
      //- Third Row
      a.btn-grey.four(href="#" data-key='4') 4
      a.btn-grey.five(href="#" data-key='5') 5
      a.btn-grey.six(href="#" data-key='6') 6
      a.btn-orange.minus(href="#") -
      
      //- Fourth Row
      a.btn-grey.one(href="#" data-key='1') 1
      a.btn-grey.two(href="#" data-key='2') 2
      a.btn-grey.three(href="#" data-key='3') 3
      a.btn-orange.plus(href="#") +
      
      //- Fifth Row
      a.btn-double.zero(href="#" data-key='0') 0
      a.btn-grey.dot(href="#" data-op='dot') .
      a.btn-orange.equals(href="#") =
