extends ./layouts/main.jade

block content
  h1 Free Code Camp - Calculator

  #wrapper
    #calculator
      input#display(type="text" value='123')
      //- First Row
      a.btn-grey.ac(href="#" data-op='ac') AC
      a.btn-grey.sign(href="#" data-num='sign') +/-
      a.btn-grey.percent(href="#" data-op='percentage') %
      a.btn-orange.division(href="#" data-op='division') /
      
      //- Second Row
      a.btn-grey.seven(href="#" data-num='7') 7
      a.btn-grey.eight(href="#" data-num='8') 8
      a.btn-grey.nine(href="#" data-num='9') 9
      a.btn-orange.times(href="#" data-op='multiplication') x
      
      //- Third Row
      a.btn-grey.four(href="#" data-num='4') 4
      a.btn-grey.five(href="#" data-num='5') 5
      a.btn-grey.six(href="#" data-num='6') 6
      a.btn-orange.minus(href="#" data-op='substraction') -
      
      //- Fourth Row
      a.btn-grey.one(href="#" data-num='1') 1
      a.btn-grey.two(href="#" data-num='2') 2
      a.btn-grey.three(href="#" data-num='3') 3
      a.btn-orange.plus(href="#" data-op='addition') +
      
      //- Fifth Row
      a.btn-double.zero(href="#" data-num='0') 0
      a.btn-grey.dot(href="#" data-num='.') .
      a.btn-orange.equals(href="#" data-op='equals') =
